.catalog-section {
	float: left;
	width: 100%;
}

h2.section-h2 {
	color: #303030;
	font-size: 44px;
	text-transform: uppercase;
	font-weight: normal;
}

.catalog-section .item {
	width: 244px;
	float: left;
	margin: 0 0 20px 8px;
}

.catalog-section .item:nth-child(4n+1) {margin: 0 0 20px;}

.catalog-section .item a.title {
	color: #303030;
	display: table-cell;
	font-size: 19px;
	text-transform: uppercase;
	width: 223px;
	height: 56px;
	border: 1px solid #DADADA;
	vertical-align: middle;
	text-align: center;
	padding: 0 10px;
	height: 68px;
}

.catalog-section .item:hover a.title {
	border: 1px solid #fff;
	box-shadow: 0 0 40px #CACDD2;
	color: #CE2F30;
}

.catalog-section .item a.picture {
	border: 1px solid #CCCCCC;
	width: 243px;
	height: 243px;
	overflow: hidden;
	display: block;
	border-top: none;
	opacity: 0.65;
}

.catalog-section .item a.picture img {width: 100%}

.catalog-section .item:hover a.picture {opacity: 1;}

.catalog-section .item .price-block {
	border: 1px solid #CCCCCC;
	width: 223px;
	height: 35px;
	padding: 10px;
	border-top: none;
	border-bottom: none;
	text-align: left;
	font-size: 15px;
	font-style: italic;
}

.catalog-section .item .price-block .price {
	float: left;
	width: 111px;
	border-right: 1px solid #464747;
}

.catalog-section .item .price-block .price span {
	font-size: 17px;
	font-style: normal;
	color: #ae1c1c;
}

.catalog-section .item .price-block .article {
	float: left;
	width: 111px;
	text-align: right;
}

.catalog-section .item .price-block .article span {
	font-style: normal;
}

.catalog-section .item .btn-buy {
	display: block;
	height: 44px;
	width: 205px;
	background: #ccc url(btn-buy.png) 30px center no-repeat;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	line-height: 44px;
	font-size: 16px;
	padding: 0 0 0 40px;
	cursor: pointer
}

.catalog-section .item:hover .btn-buy {background: #CE2F30 url(btn-buy.png) 30px center no-repeat;}


#pop_up {
   background: #fff;
    left: 50%;
    margin-left: -200px;
    margin-top: -90px;
    top: 50%;
    width: 400px;
    color: #000201;
    display: none;
    padding: 30px 20px;
    position: fixed;
    text-align: left;
    z-index: 200;
}

a.close {
    background: none repeat scroll 0 0 #CE2F30;
    border-radius: 70px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 18px;
    padding: 9px 4px 6px;
    position: absolute;
    right: -20px;
    text-align: center;
    top: -13px;
    text-decoration: none;
    width: 30px;
}

#pop_up a.buy-add {
	background: #666;
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin: 2px 5px 0;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 180px;
}

#pop_up a.buy-add:hover {
	background: #CE2F30;
}

#pop_up h2 {
	border-width: 3px;
    display: block;
    color: #303030;
    text-align: center;
    font-size: 19px;
    text-transform: uppercase;
}