.catalog-section {
	float: left;
	width: 100%;
}

.catalog-section .block-element {
	float: left;
	background: #fff;
	padding: 10px;
	margin: 0 0px 50px 12px;
	border: 1px solid #ADB4BB;
	width: 215px;
}

.catalog-section .block-element span.stock-ico {
	left: -20px;
    position: absolute;
    top: -5px;
    z-index: 10;
}

.catalog-section .block-element span.stock-ico img{
	width: 75px;
}

.catalog-section .block-element:nth-child(4n+1) {
	margin: 0 0px 50px;
}

.catalog-section .block-element .image {
	width: 215px;
	height: 150px;
	overflow: hidden;
	text-align: center;
}

.catalog-section .block-element .image img{
	max-width: 215px;
	max-height: 150px;
}

.catalog-section .block-element a.title {
	font-size: 14px;
	color: #a5232b;
	text-align: center;
	text-decoration: none;
	display: block;
	height: 70px;
	overflow: hidden;
}

.catalog-section .block-element .price {
	width: 120px;
	float: left;
	font-size: 24px;
	font-weight: bold;
}

.catalog-section .block-element .price span.ruble {
	text-decoration: line-through;
}

.catalog-section .block-element .buy {
	float: right;
	display: inline-block;
	padding: 5px 7px;
	background: url(/bitrix/templates/index/images/red-bg.png) left center repeat-x;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}

.catalog-section .block-element:after {
	content: '';
	position: absolute;
	background: url(/bitrix/templates/index/images/tovar-after.jpg) 0 0 no-repeat;
	width: 0;
	height: 0;
	left: -1px;
	bottom: -24px;
	width: 237px;
	height: 24px;
}

.catalog-section .block-element span.new {
	position: absolute;
	top: 5px;
	right: 10px;
	width: 49px;
	height: 46px;
	background: url(/bitrix/templates/index/images/new-ico.png) 0 0 no-repeat;
	color: #fff;
	text-transform: uppercase;
	z-index: 5;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 46px;
}

.catalog-section .block-element .icon {
    height: 160px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 2px;
    width: 45px;
    z-index: 100;
}

.catalog-section .block-element .icon .ico {
    display: block;
    position: relative;
    cursor: pointer;
}

.catalog-section .block-element .icon .ico img{
    margin: 0 0 5px;
    max-height: 40px;
    max-width: 40px;
}

.catalog-section .block-element .icon .ico .info {
    position: absolute;
    right: 45px;
    width: 140px;
    height: 40px;
    border: 1px solid #A7A7A7;
    background: #F2F5F6;
    line-height: 40px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #A5232B;
    display: none;
    top: -2px;
}

.catalog-section .block-element .icon .ico:hover .info{display: block;}

.catalog-section .block-element .icon.margin {left: 60px;}

.catalog-section .block-element span.stock-ico img{
	width: 75px;
}